@charset "UTF-8";
/* Modify the background color */ 
.navbar-custom { 
	background-color: lightblue; 
}     
.header-custom {
	background-color:  #b3d9ff; 
}
/* Modify brand and text color */ 
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
	color: black; 
} 